In [1]:
import numpy as np
import pandas as pd
import os

In [ ]:
# add and set directory of the repository here
dire = '/home/mongardi/GIS_prior_knowledge'

In [2]:
dire_CRC = dire_prior = os.path.join(dire,'data/data_CRC')
dire_prior = os.path.join(dire,'data/prior_knowledge')

In [3]:
df = pd.read_excel(os.path.join(dire_CRC, '13073_2023_1176_MOESM2_ESM (1).xlsx'))

In [4]:
df_new = df.iloc[2:]

In [5]:
df_new.set_axis(df.iloc[1].values.tolist(), axis=1, inplace=True)

/tmp/ipykernel_46055/1986343499.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df_new.set_axis(df.iloc[1].values.tolist(), axis=1, inplace=True)

In [6]:
df_new.head()

,NaN,aliquot_id,NTP Not Classified,NTP assignment Single-label,NTP assignment Multi-labels,NTP analysis - CRIS assignment(s),distCRIS.A,distCRIS.B,distCRIS.C,distCRIS.D,distCRIS.E,BH.FDR.CRIS.A,BH.FDR.CRIS.B,BH.FDR.CRIS.C,BH.FDR.CRIS.D,BH.FDR.CRIS.E
2,NaN,TCGA-4N-A93T-01A-11R-A37K-07,NaN,SC,,CRIS-C,0.950423,1.023935,0.810985,1.097154,0.962194,0.882878,1,0.002074,1,1
3,NaN,TCGA-4T-AA8H-01A-11R-A41B-07,NaN,,MC,CRIS-A/-B,0.891271,0.958085,1.019741,1.173642,1.105552,0.000962,0.04669,0.435051,1,1
4,NaN,TCGA-5M-AAT4-01A-11R-A41B-07,NC,NaN,,NaN,1.158505,0.991774,1.01071,1.035492,1.196177,1,0.752158,0.874323,0.961281,1
5,NaN,TCGA-5M-AAT5-01A-21R-A41B-07,NaN,SC,,CRIS-D,1.151964,1.141232,1.149884,0.956858,1.118708,1,1,1,0.045134,1
6,NaN,TCGA-5M-AAT6-01A-11R-A41B-07,NaN,SC,,CRIS-B,0.959272,0.818806,1.193775,0.959972,1.084572,1,0.009136,1,1,1

In [7]:
df_new.set_index('aliquot_id', inplace=True)

In [8]:
df_labels_all = df_new[['distCRIS.A','distCRIS.B', 'distCRIS.C', 'distCRIS.D', 'distCRIS.E']]
df_labels_all.head()

,distCRIS.A,distCRIS.B,distCRIS.C,distCRIS.D,distCRIS.E
aliquot_id,,,,,
TCGA-4N-A93T-01A-11R-A37K-07,0.950423,1.023935,0.810985,1.097154,0.962194
TCGA-4T-AA8H-01A-11R-A41B-07,0.891271,0.958085,1.019741,1.173642,1.105552
TCGA-5M-AAT4-01A-11R-A41B-07,1.158505,0.991774,1.01071,1.035492,1.196177
TCGA-5M-AAT5-01A-21R-A41B-07,1.151964,1.141232,1.149884,0.956858,1.118708
TCGA-5M-AAT6-01A-11R-A41B-07,0.959272,0.818806,1.193775,0.959972,1.084572

In [9]:
classes = ['CRIS.A','CRIS.B', 'CRIS.C', 'CRIS.D', 'CRIS.E']

In [10]:
df_labels_all['class'] = df_labels_all.apply(lambda x: classes[int(np.argmin(x))], axis=1)

/tmp/ipykernel_46055/2149496639.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labels_all['class'] = df_labels_all.apply(lambda x: classes[int(np.argmin(x))], axis=1)

In [11]:
df_labels_all.drop(['distCRIS.A','distCRIS.B', 'distCRIS.C', 'distCRIS.D', 'distCRIS.E'], axis=1, inplace=True)

/tmp/ipykernel_46055/3122302988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_labels_all.drop(['distCRIS.A','distCRIS.B', 'distCRIS.C', 'distCRIS.D', 'distCRIS.E'], axis=1, inplace=True)

# Expression data

In [12]:
df = pd.read_csv(os.path.join(dire_CRC,'TCGA_colonrectal.csv'), index_col='Unnamed: 0')

In [13]:
df

,5_8S_rRNA,5S_rRNA,7SK,A1BG,A1BG-AS1,A1CF,A2M,A2M-AS1,A2ML1,A2ML1-AS1,...,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11AP1,ZYG11B,ZYX,ZZEF1,ZZZ3
TCGA-4N-A93T-01A-11R-A37K-07,0,6,0,31,75,996,3484,22,2,0,...,1039,155,756,1848,1,0,685,10621,2798,931
TCGA-4T-AA8H-01A-11R-A41B-07,0,1,0,1,12,876,1911,3,74,0,...,1559,74,451,1120,0,0,979,6497,4354,904
TCGA-5M-AAT4-01A-11R-A41B-07,0,5,2,1,10,820,5888,5,37,0,...,4130,234,1171,1896,2,0,1099,10500,2748,1582
TCGA-5M-AAT5-01A-21R-A41B-07,0,4,5,1,9,1359,5075,10,7,0,...,1849,124,830,1808,10,0,1208,8551,2253,1051
TCGA-5M-AAT6-01A-11R-A41B-07,0,3,2,6,32,21,11532,24,5,0,...,2261,122,469,1171,32,0,798,10001,2284,1316
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TCGA-QL-A97D-01A-12R-A41B-07,0,4,1,3,24,781,7087,5,2,0,...,3974,171,768,1870,0,0,1248,11030,4981,1519
TCGA-RU-A8FL-01A-11R-A37K-07,0,2,1,1,0,686,2369,4,1,0,...,4269,57,450,1755,2,0,1839,10272,1900,2401
TCGA-SS-A7HO-01A-21R-A37K-07,0,5,0,2,13,2298,8187,18,1,0,...,4289,182,642,3005,0,0,1426,4912,2297,1990
TCGA-T9-A92H-01A-11R-A37K-07,0,2,0,2,9,1761,5286,13,5,0,...,4472,204,1098,1249,0,0,1399,12393,2501,1527
TCGA-WS-AB45-01A-11R-A41B-07,0,3,0,12,45,594,77506,48,2,0,...,2333,226,735,1286,4,0,3154,22082,5754,2036

In [14]:
mir_genes = []
for column in df.columns.values:
    if 'mir' in column.lower():
        mir_genes.append(column)

len(mir_genes) # 1650 mir genes to be discarded

1732

In [15]:
df = df.drop(mir_genes, axis=1)
df.shape

(620, 56655)

In [16]:
def find_greedy_samples(df, ratio=0.2):

    ordered_genes = df.copy()
    ordered_genes.values.sort()
    ordered_genes = ordered_genes.iloc[:,::-1]
    tot_reads_per_sample = ordered_genes.sum(axis=1)
    top_5_genes_per_sample = ordered_genes.iloc[:, :5].sum(axis=1)
    ratio_geni_ingordi = top_5_genes_per_sample / tot_reads_per_sample
    samples_geni_ingordi =  ratio_geni_ingordi[ ratio_geni_ingordi > ratio].index
    print('N of greedy genes: ', len(samples_geni_ingordi))
    return samples_geni_ingordi

In [17]:
samples_geni_ingordi = find_greedy_samples(df, ratio=0.2)

N of greedy genes:  0

In [18]:
def find_not_expressed_genes(df, ratio=0.2):

    non_zero_entries_per_gene = df.astype(bool).sum(axis=0).sort_values()
    #print(df.shape[0])
    #print(non_zero_entries_per_gene[:20]/df.shape[0])
    #print(non_zero_entries_per_gene[-20:]/df.shape[0])
    expressed_genes = non_zero_entries_per_gene[non_zero_entries_per_gene/df.shape[0] >= ratio].index
    not_expressed_genes = non_zero_entries_per_gene[non_zero_entries_per_gene/df.shape[0] < ratio].index
    print('N of not expressed genes: ', len(not_expressed_genes))
    return not_expressed_genes

In [19]:
not_expressed_genes = find_not_expressed_genes(df)

N of not expressed genes:  21659

In [20]:
df_reduced = df.drop(not_expressed_genes, axis=1)
print(df_reduced.shape)

(620, 34996)

In [21]:
def load_txt(filename):
    content = []
    with open(filename)as f:
        for line in f:
            content.append(line.strip())
    return content

In [22]:
# remove coding genes
pc_filename = os.path.join(dire_prior, 'genes_coding.txt')
pc_genes = load_txt(pc_filename)

#intersection = list(set(df_final.columns) & set(pc_genes))
intersection = [x for x in df_reduced.columns if x in pc_genes]
#pc_df = load_dataset(pc_filename)
#pc_genes = pc_df[pc_df.columns[0]].values
#intersection = list(set(df_reduced.columns) & set(pc_genes))
#print(df_final[df_final.columns[:2]])
df_final = df_reduced[intersection]
print('final df shape: ', df_final.shape)

final df shape:  (620, 17559)

In [23]:
df_labels_all.shape
df_final.shape

(620, 17559)

In [24]:
df_all = pd.concat([df_labels_all, df_final], axis=1)
df_all.head()
df_all.shape

(620, 17560)

In [25]:
df_all.head()

,class,A1BG,A1CF,A2M,A2ML1,A3GALT2,A4GALT,A4GNT,AAAS,AACS,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
TCGA-4N-A93T-01A-11R-A37K-07,CRIS.C,31,996,3484,2,0,57,1,2400,2108,...,416,1039,155,756,1848,1,685,10621,2798,931
TCGA-4T-AA8H-01A-11R-A41B-07,CRIS.A,1,876,1911,74,1,27,0,1663,2176,...,723,1559,74,451,1120,0,979,6497,4354,904
TCGA-5M-AAT4-01A-11R-A41B-07,CRIS.B,1,820,5888,37,0,186,1,2845,3123,...,1086,4130,234,1171,1896,2,1099,10500,2748,1582
TCGA-5M-AAT5-01A-21R-A41B-07,CRIS.D,1,1359,5075,7,1,89,0,2714,2031,...,1358,1849,124,830,1808,10,1208,8551,2253,1051
TCGA-5M-AAT6-01A-11R-A41B-07,CRIS.B,6,21,11532,5,1,282,5,1540,1546,...,972,2261,122,469,1171,32,798,10001,2284,1316

In [26]:
df_all.value_counts('class')

class
CRIS.C    165
CRIS.A    160
CRIS.E    114
CRIS.D     98
CRIS.B     83
dtype: int64

In [27]:
df_all.to_csv(os.path.join(dire_CRC, 'CRC_dataset.csv'))